h1 {
    text-align: center;
    color : red; 
}
div{
    font-size: 20px;
    background-color:aqua;
    height: 100px;
    width: 100px;
    padding: 10px;

}

li{
    font-size: 20px;
    color: blue;
}
